StudyBuddy/accounts/__pycache__/__init__.cpython-312.pyc
StudyBuddy/accounts/__pycache__/__init__.cpython-313.pyc
StudyBuddy/accounts/__pycache__/admin.cpython-312.pyc
StudyBuddy/accounts/__pycache__/admin.cpython-313.pyc
StudyBuddy/accounts/__pycache__/apps.cpython-312.pyc
StudyBuddy/accounts/__pycache__/apps.cpython-313.pyc
StudyBuddy/accounts/__pycache__/forms.cpython-312.pyc
StudyBuddy/accounts/__pycache__/forms.cpython-313.pyc
StudyBuddy/accounts/__pycache__/models.cpython-312.pyc
StudyBuddy/accounts/__pycache__/models.cpython-313.pyc
StudyBuddy/accounts/__pycache__/signals.cpython-312.pyc
StudyBuddy/accounts/__pycache__/signals.cpython-313.pyc
StudyBuddy/accounts/__pycache__/urls.cpython-312.pyc
StudyBuddy/accounts/__pycache__/urls.cpython-313.pyc
StudyBuddy/accounts/__pycache__/views.cpython-312.pyc
StudyBuddy/accounts/__pycache__/views.cpython-313.pyc
StudyBuddy/accounts/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/accounts/migrations/__pycache__/0001_initial.cpython-313.pyc
StudyBuddy/chat/__pycache__/__init__.cpython-312.pyc
StudyBuddy/chat/__pycache__/__init__.cpython-313.pyc
StudyBuddy/chat/__pycache__/admin.cpython-312.pyc
StudyBuddy/chat/__pycache__/admin.cpython-313.pyc
StudyBuddy/chat/__pycache__/apps.cpython-312.pyc
StudyBuddy/chat/__pycache__/apps.cpython-313.pyc
StudyBuddy/chat/__pycache__/models.cpython-312.pyc
StudyBuddy/chat/__pycache__/models.cpython-313.pyc
StudyBuddy/chat/__pycache__/urls.cpython-312.pyc
StudyBuddy/chat/__pycache__/urls.cpython-313.pyc
StudyBuddy/chat/__pycache__/views.cpython-312.pyc
StudyBuddy/chat/__pycache__/views.cpython-313.pyc
StudyBuddy/chat/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/chat/migrations/__pycache__/0001_initial.cpython-313.pyc
StudyBuddy/documents/__pycache__/__init__.cpython-312.pyc
StudyBuddy/documents/__pycache__/__init__.cpython-313.pyc
StudyBuddy/documents/__pycache__/admin.cpython-312.pyc
StudyBuddy/documents/__pycache__/admin.cpython-313.pyc
StudyBuddy/documents/__pycache__/apps.cpython-312.pyc
StudyBuddy/documents/__pycache__/apps.cpython-313.pyc
StudyBuddy/documents/__pycache__/models.cpython-312.pyc
StudyBuddy/documents/__pycache__/models.cpython-313.pyc
StudyBuddy/documents/__pycache__/urls.cpython-312.pyc
StudyBuddy/documents/__pycache__/urls.cpython-313.pyc
StudyBuddy/documents/__pycache__/views.cpython-312.pyc
StudyBuddy/documents/__pycache__/views.cpython-313.pyc
StudyBuddy/documents/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/documents/migrations/__pycache__/0001_initial.cpython-313.pyc
StudyBuddy/groups/__pycache__/__init__.cpython-312.pyc
StudyBuddy/groups/__pycache__/__init__.cpython-313.pyc
StudyBuddy/groups/__pycache__/admin.cpython-312.pyc
StudyBuddy/groups/__pycache__/admin.cpython-313.pyc
StudyBuddy/groups/__pycache__/apps.cpython-312.pyc
StudyBuddy/groups/__pycache__/apps.cpython-313.pyc
StudyBuddy/groups/__pycache__/forms.cpython-312.pyc
StudyBuddy/groups/__pycache__/forms.cpython-313.pyc
StudyBuddy/groups/__pycache__/models.cpython-312.pyc
StudyBuddy/groups/__pycache__/models.cpython-313.pyc
StudyBuddy/groups/__pycache__/urls.cpython-312.pyc
StudyBuddy/groups/__pycache__/urls.cpython-313.pyc
StudyBuddy/groups/__pycache__/views.cpython-312.pyc
StudyBuddy/groups/__pycache__/views.cpython-313.pyc
StudyBuddy/meetings/__pycache__/__init__.cpython-312.pyc
StudyBuddy/meetings/__pycache__/__init__.cpython-313.pyc
StudyBuddy/meetings/__pycache__/admin.cpython-312.pyc
StudyBuddy/meetings/__pycache__/admin.cpython-313.pyc
StudyBuddy/meetings/__pycache__/apps.cpython-312.pyc
StudyBuddy/meetings/__pycache__/apps.cpython-313.pyc
StudyBuddy/meetings/__pycache__/forms.cpython-312.pyc
StudyBuddy/meetings/__pycache__/forms.cpython-313.pyc
StudyBuddy/meetings/__pycache__/models.cpython-312.pyc
StudyBuddy/meetings/__pycache__/models.cpython-313.pyc
StudyBuddy/meetings/__pycache__/urls.cpython-312.pyc
StudyBuddy/meetings/__pycache__/urls.cpython-313.pyc
StudyBuddy/meetings/__pycache__/views.cpython-312.pyc
StudyBuddy/meetings/__pycache__/views.cpython-313.pyc
StudyBuddy/groups/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/groups/migrations/__pycache__/0001_initial.cpython-313.pyc
StudyBuddy/accounts/templatetags/__pycache__/__init__.cpython-312.pyc
StudyBuddy/accounts/templatetags/__pycache__/__init__.cpython-313.pyc
StudyBuddy/accounts/templatetags/__pycache__/custom_filters.cpython-312.pyc
StudyBuddy/accounts/templatetags/__pycache__/custom_filters.cpython-313.pyc
StudyBuddy/meetings/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/meetings/migrations/__pycache__/0001_initial.cpython-313.pyc
StudyBuddy/meetings/migrations/__pycache__/0002_alter_videomeeting_link_and_more.cpython-313.pyc
StudyBuddy/notes/__pycache__/__init__.cpython-312.pyc
StudyBuddy/notes/__pycache__/__init__.cpython-313.pyc
StudyBuddy/notes/__pycache__/admin.cpython-312.pyc
StudyBuddy/notes/__pycache__/admin.cpython-313.pyc
StudyBuddy/notes/__pycache__/apps.cpython-312.pyc
StudyBuddy/notes/__pycache__/apps.cpython-313.pyc
StudyBuddy/notes/__pycache__/consumers.cpython-312.pyc
StudyBuddy/notes/__pycache__/consumers.cpython-313.pyc
StudyBuddy/notes/__pycache__/models.cpython-312.pyc
StudyBuddy/notes/__pycache__/models.cpython-313.pyc
StudyBuddy/notes/__pycache__/routing.cpython-312.pyc
StudyBuddy/notes/__pycache__/routing.cpython-313.pyc
StudyBuddy/notes/__pycache__/urls.cpython-312.pyc
StudyBuddy/notes/__pycache__/urls.cpython-313.pyc
StudyBuddy/notes/__pycache__/views.cpython-312.pyc
StudyBuddy/notes/__pycache__/views.cpython-313.pyc
StudyBuddy/questions/__pycache__/__init__.cpython-312.pyc
StudyBuddy/questions/__pycache__/__init__.cpython-313.pyc
StudyBuddy/questions/__pycache__/admin.cpython-312.pyc
StudyBuddy/questions/__pycache__/admin.cpython-313.pyc
StudyBuddy/questions/__pycache__/apps.cpython-312.pyc
StudyBuddy/questions/__pycache__/apps.cpython-313.pyc
StudyBuddy/questions/__pycache__/models.cpython-312.pyc
StudyBuddy/questions/__pycache__/models.cpython-313.pyc
StudyBuddy/questions/__pycache__/urls.cpython-312.pyc
StudyBuddy/questions/__pycache__/urls.cpython-313.pyc
StudyBuddy/questions/__pycache__/views.cpython-312.pyc
StudyBuddy/questions/__pycache__/views.cpython-313.pyc
StudyBuddy/StudyBuddy/__pycache__/__init__.cpython-312.pyc
StudyBuddy/StudyBuddy/__pycache__/__init__.cpython-313.pyc
StudyBuddy/StudyBuddy/__pycache__/asgi.cpython-312.pyc
StudyBuddy/StudyBuddy/__pycache__/asgi.cpython-313.pyc
StudyBuddy/StudyBuddy/__pycache__/settings.cpython-312.pyc
StudyBuddy/StudyBuddy/__pycache__/settings.cpython-313.pyc
StudyBuddy/StudyBuddy/__pycache__/urls.cpython-312.pyc
StudyBuddy/StudyBuddy/__pycache__/urls.cpython-313.pyc
StudyBuddy/questions/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/questions/migrations/__pycache__/0001_initial.cpython-313.pyc
StudyBuddy/notes/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/notes/migrations/__pycache__/0001_initial.cpython-313.pyc
StudyBuddy/notes/migrations/__pycache__/0002_remove_note_content_note_etherpad_id.cpython-313.pyc
StudyBuddy/templates.zip
StudyBuddy/docker/nginx/certs/accounts/acme-v02.api.letsencrypt.org/directory/456541bf233ba83c3cfd2a6aa5d4d0d3/meta.json
StudyBuddy/docker/nginx/certs/accounts/acme-v02.api.letsencrypt.org/directory/456541bf233ba83c3cfd2a6aa5d4d0d3/private_key.json
StudyBuddy/docker/nginx/certs/accounts/acme-v02.api.letsencrypt.org/directory/456541bf233ba83c3cfd2a6aa5d4d0d3/regr.json
StudyBuddy/docker/nginx/certs/archive/study.ilexx-tech.ru/cert1.pem
StudyBuddy/docker/nginx/certs/archive/study.ilexx-tech.ru/chain1.pem
StudyBuddy/docker/nginx/certs/archive/study.ilexx-tech.ru/fullchain1.pem
StudyBuddy/docker/nginx/certs/archive/study.ilexx-tech.ru/privkey1.pem
StudyBuddy/docker/nginx/certs/live/README
StudyBuddy/docker/nginx/certs/live/study.ilexx-tech.ru/cert.pem
StudyBuddy/docker/nginx/certs/live/study.ilexx-tech.ru/chain.pem
StudyBuddy/docker/nginx/certs/live/study.ilexx-tech.ru/fullchain.pem
StudyBuddy/docker/nginx/certs/live/study.ilexx-tech.ru/privkey.pem
StudyBuddy/docker/nginx/certs/live/study.ilexx-tech.ru/README
StudyBuddy/docker/nginx/certs/renewal/study.ilexx-tech.ru.conf
StudyBuddy/docker/nginx/certs/
StudyBuddy/media
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/.gitignore
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/CHANGELOG.md
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/docker-compose.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/env.example
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/etherpad.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/gen-passwords.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/grafana.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/LICENSE
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/Makefile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prometheus.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/README.md
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/release.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/transcriber.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/whiteboard.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/.github/workflows/ci.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/.github/workflows/release-stable.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/.github/workflows/stale.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/.github/workflows/unstable.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/etc/apt/apt.conf.d/99local
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/etc/cont-finish.d/.gitkeep
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/etc/cont-init.d/.gitkeep
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/etc/cont-init.d/01-set-timezone
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/etc/fix-attrs.d/.gitkeep
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/etc/services.d/.gitkeep
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/usr/bin/apt-cleanup
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base/rootfs/usr/bin/apt-dpkg-wrap
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/base-java/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/examples/README.md
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/defaults/autoscaler-sidecar.config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/defaults/jibri.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/defaults/logging.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/defaults/xmpp.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/defaults/xorg-video-dummy.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/chromium/policies/managed/managed_policies.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/cont-init.d/10-config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/fix-attrs.d/10-jibri
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/opt/chrome/policies/managed/managed_policies.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/pulse/default.pa
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/services.d/10-xorg/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/services.d/20-icewm/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/services.d/30-pulse/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/services.d/40-jibri/finish
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/services.d/40-jibri/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/etc/services.d/50-autoscaler-sidecar/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/home/jibri/.config/pulse/client.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/home/jibri/.config/pulse/daemon.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/home/jibri/.config/pulse/default.pa
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/opt/jitsi/shutdown.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jibri/rootfs/usr/bin/install-chrome.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jicofo/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jicofo/rootfs/defaults/jicofo.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jicofo/rootfs/defaults/logging.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jicofo/rootfs/etc/cont-init.d/10-config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jicofo/rootfs/etc/services.d/jicofo/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jicofo/rootfs/usr/local/bin/healthcheck.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/defaults/autoscaler-sidecar.config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/defaults/logging.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/defaults/sip-communicator.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/defaults/sipserver-sip-communicator.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/defaults/transcriber-sip-communicator.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/defaults/xmpp-sip-communicator.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/etc/cont-init.d/10-config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/etc/services.d/50-autoscaler-sidecar/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/etc/services.d/jigasi/finish
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/etc/services.d/jigasi/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/opt/jitsi/shutdown.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jigasi/rootfs/usr/local/bin/healthcheck.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/defaults/autoscaler-sidecar.config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/defaults/jvb.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/defaults/logging.properties
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/etc/cont-init.d/10-config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/etc/services.d/50-autoscaler-sidecar/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/etc/services.d/jvb/finish
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/etc/services.d/jvb/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/opt/jitsi/shutdown.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/jvb/rootfs/usr/local/bin/healthcheck.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/otel-collector-config.yaml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/README.md
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/dashboards.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/docker-statistics.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/jicofo.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/jitsi-all.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/jitsi-web.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/jvb.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/Prosody-Dashboard.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/dashboards/prosody.json
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/grafana-provisioning/datasources/datasource_loki.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/log-analyser/loki/conf/loki-config.yaml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prometheus/prometheus.yml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prometheus/README.md
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/defaults/prosody.cfg.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/defaults/saslauthd.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/defaults/conf.d/brewery.cfg.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/defaults/conf.d/jitsi-meet.cfg.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/defaults/conf.d/visitors.cfg.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/defaults/rules.d/jvb_muc_presence_filter.pfw
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/etc/cont-init.d/10-config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/etc/sasl/xmpp.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/etc/services.d/10-saslauthd/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/etc/services.d/prosody/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/prosody-plugins/mod_auth_cyrus.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/prosody-plugins/mod_http_health.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/prosody-plugins/mod_muc_moderation.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/prosody-plugins/sasl_cyrus.lua
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/prosody/rootfs/usr/local/bin/healthcheck.sh
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/resources/docker-jitsi-meet.png
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/resources/docker-jitsi-meet.xml
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/resources/jitsi-docker.png
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/Dockerfile
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/defaults/default
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/defaults/ffdhe2048.txt
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/defaults/meet.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/defaults/nginx.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/defaults/settings-config.js
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/defaults/ssl.conf
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/defaults/system-config.js
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/etc/cont-init.d/10-config
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/etc/services.d/cron/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/etc/services.d/jaas-account/run
StudyBuddy/jitsi-docker-jitsi-meet-fe160b6/web/rootfs/etc/services.d/nginx/run
StudyBuddy/stable-10314
StudyBuddy/announcements/migrations/__pycache__/__init__.cpython-313.pyc
StudyBuddy/notes/migrations/__pycache__/
StudyBuddy/announcements/__pycache__/
StudyBuddy/announcements/migrations/__pycache__/
StudyBuddy/staticfiles/
