{% extends "base.html" %}
{% block title %}{{ note.title }}{% endblock %}
{% block page_title %}{{ note.title }}{% endblock %}

{% block content %}
<div class="w-full max-w-6xl mx-auto">
    <div class="aspect-[4/3] max-h-[80vh] border rounded shadow">
        <iframe
            src="{{ note.get_etherpad_url }}"
            class="w-full h-full rounded"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
    <div class="text-sm text-gray-500 mt-4">
        {{ note.description }}
    </div>
</div>
{% endblock %}
