{% extends 'auth_base.html' %}

{% block title %}Создать группу{% endblock %}

{% block page_title %}Создать группу{% endblock %}

{% block content %}
<div class="container" style="max-width: 600px;">
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100">Создать</button>
    </form>
    <p class="text-center mt-3"><a href="{% url 'groups:group_list' %}" class="btn btn-link">Вернуться к списку групп</a></p>
</div>
{% endblock %}
