<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список комнат</title>
</head>
<body>
<h2>Мои группы</h2>
<ul>
    {% for group in request.user.study_groups.all %}
        <li>{{ group.name }}</li>
    {% empty %}
        <li>Вы не состоите ни в одной группе</li>
    {% endfor %}
</ul>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Мой Профиль</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Профиль пользователя {{ request.user.username }}</h1>-->

<!--    <p><strong>Фамилия:</strong> {{ profile.last_name }}</p>-->
<!--    <p><strong>Имя:</strong> {{ profile.first_name }}</p>-->
<!--    <p><strong>Отчество:</strong> {{ profile.patronymic }}</p>-->
<!--    <p><strong>Дата рождения:</strong> {{ profile.birth_date }}</p>-->

<!--    <p><strong>Учебное заведение:</strong> {{ profile.institution }}</p>-->
<!--    <p><strong>Факультет:</strong> {{ profile.faculty }}</p>-->
<!--    <p><strong>Группа:</strong> {{ profile.study_group }}</p>-->

<!--    <p><strong>Роль:</strong> {{ request.user.get_role_display }}</p>-->
<!--    <p><strong>Группы:</strong> пока не реализовано</p>-->

<!--    &lt;!&ndash; Кнопки &ndash;&gt;-->
<!--    <p>-->
<!--        <a href="{% url 'accounts:edit_profile' %}">Редактировать профиль</a>-->
<!--    </p>-->
<!--    <p>-->
<!--        <a href="{% url 'accounts:delete_account' %}">Удалить профиль и учетную запись</a>-->
<!--    </p>-->

<!--    <p><a href="{% url 'accounts:logout' %}">Выйти</a></p>-->
<!--</body>-->
<!--</html>-->